body {
    font-size: 30px;
    background-color: lightgrey;
    border: 2px solid black;
}

ul {
	min-width: 696px;
    list-style: none;
    margin: 0;
}

ul li {
    display: inline;
}

#tabs {
        text-align: center;
        list-style: none;
        margin: 0;
        line-height: 24px;
        position: relative;
        bottom: 140px;
        left: 600px;
}

#tabs:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

#tabs li {
    margin: 0 -5px;
    padding: 25px;
    border: 1px solid #AAA;
    background: #ECECEC;
    display: inline-block;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

#tabs li.selected {
    background: #FFF;
    color: #000;
  }

  #shuffle {
      background-color: red;
      color: #ECECEC;
      font-size: 20px;
      width: 200px;
      height: 100px;
      position: relative;
      bottom: 220px;
      left: 250px;
  }

  #reset {
    background-color:black;
    color: #ECECEC;
    font-size: 20px;
    width: 200px;
    height: 100px;
    position: relative;
    bottom: 120px;
    left: 40px;
}

img {
    width: 400px;
    height: 400px;
    float: left;
}

#images-container {
    text-align: center;
    position: relative;
    left: 8%;
}

#images-container ul > li {
    display: inline-block;
    margin: -120px -5px 5px;
    padding: 0px;
    border: 2px solid black;
}

.img-select {
    margin-left: 10px;
}

p {
    border: 2px solid black;
    width: 65%;
    height: 80%;
    float: none;
    margin-top: -550px;
    margin-left: 500px;
    font-size: 50px;
    color: rgb(133, 36, 36);
    background-color: rgb(80, 151, 151);
}

#myCanvas {
    position: absolute;
    z-index: 9;
    top: 1800px;
    left: 0px;
    -webkit-user-drag: element;

}

aside {
    font-size: 25px;
    border: none;
    background-color: beige;
    width: 450px;
    height: 600px;
    position: relative;
    top: -500px;
 
}